* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: lightblue;
    border: 6px solid lightseagreen;
    padding: 20px;
}

.container h1 {
    display: inline-block;
    padding: 5px;
    background-color: black;
    color: rgb(202, 226, 237);
    border-radius: 5px;

}

.container__title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

}

.container__title h2 {
    text-align: center;
    border-bottom: 5px solid grey;
    padding-bottom: 10px;
    width: 400px;

}

.container__gallery__s1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 10px;
}
.container__gallery__s2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 10px;

}

.container__gallery__s1 img {
    height: 200px;
    width: 150px;
    border: 3px solid black;

}

.container__gallery__s2 img {
    height: 200px;
    width: 150px;
    border: 3px solid black;

}

.container__gallery__s1 img:hover .container__gallery__s2 img:hover {
    transform: scale(1.05);

}